.mainbodycontainer{
    width: 100%;
    height: auto;
    background-color:black;
    background-image:
            radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
            radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
            radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
            radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.mainadmin{
    background-color: #fff;
    padding: 15px;
    margin: 16% auto;
    border-radius: 15px;
    text-align: center;
}
input{
    outline: none;
}
#inv1{
    padding: 15px; text-align: center; font-weight: bold; font-size: larger; border-radius: 15px; margin-bottom:15px;
}
#inv_data tr td{
    background-color: white;
}
#pro_list{
    max-height: 600px;  overflow: scroll;
}